.link {
    height: 100%;
    width: 100%;
    overflow: hidden;
    &__href {
        color: var(--bg-50);
        margin-bottom: 20px;
    }
    &__items {
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;
        a {
            color: var(--bg);
            font-weight: 600;
            font-size: 15px;
            border-radius: 5px;
            border: var(--bg) 2px dashed;
            background-color: var(--bg-light);
            padding: 10px 25px;
        }
    }
}