.notifications {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 100000;
    &__item {
      will-change: transform, opacity, translate, animation;
      position: relative;
      margin: 10px;
      animation: notificationToBottom .8s ease;
      width: max-content;
      font-size: 20px;
    }
    &__item.exit {
      animation: notificationToTop .8s ease;
    }
}

@keyframes notificationToBottom {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes notificationToTop {
  0% {

  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@media (max-width: 490px) {
    .notifications {
        &__item {
          font-size: 15px;
        }
    }
}