
:root {
    --bg: rgba(82, 72, 56);
    --bg-50: rgba(82, 72, 56, .5);
    --bg-80: rgba(82, 72, 56, .8);
    --bg-light: rgb(224, 211, 187);
    --bg-light-80: rgb(224, 211, 187, .8);
}


@import './auth.scss';
@import './notifications.scss';
@import './userbar.scss';
@import './links.scss';
@import './link.scss';
@import './confirm.scss';