.userbar {
    position: absolute;
    right: 10px;
    top: 15px;
    will-change: transform, opacity, translate, animation;
    animation: .8s ease appearanceUserbar;
    &__name, &__menu {
        transition: all .3s ease;
        font-weight: 600;
        font-size: 18px;
        color: var(--bg);
    }
    &__name, &__menu > li {
        cursor: pointer;
    }
    &__menu {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
    }
    &.disappearance {
        animation: .8s ease disappearanceUserbar forwards;
    }
    &.active {
        .userbar__menu {
            opacity: 1;
            pointer-events: auto;
        }
        .userbar__name {
            opacity: 0;
            pointer-events: none;
        }
    }
}


@keyframes disappearanceUserbar {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes appearanceUserbar {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}